{% include "chain.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<a class="btn btn-dark" href="#top" style="border-radius: 0;width:100%;height:50px;min-width:1033px;">Back to top</a>

<footer>

<div style="float:left;width:528px;">
<div style="width:260px;margin:auto;">
    <br><br>
    <h6><b>About Us</b></h6>
    <ul class="navbar-nav">
   <li style="color:#cccccc;">Please do not sell unrelated products. Will immediately dropped and banned.</li><br>
   <li  style="color:#cccccc;">© 1996-2022, 4Tech.com, Inc.</li>
        </ul>
</div>
</div>


<div style="width:527px;">
    <br><br>
<center>
    <h6><b>Payment Products</b></h6>
</center>
    <br>

   <div style="float:left;">
       <h6>Global</h6>
<ul class="navbar-nav">
   <li style="color:#cccccc;"> Visa</li>
   <li style="color:#cccccc;"> Mastercard</li>
   <li style="color:#cccccc;"> American Express</li>
   <li style="color:#cccccc;"> Diners </li>
</ul>
   </div>


    <div style="width:120px;height:0;margin:auto;">
        <h6>Asia</h6>
        <ul class="navbar-nav">
       <li style="color:#cccccc;"> JCB </li>
       <li style="color:#cccccc;"> China Union Pay </li>
    </ul>
       </div>


    <div style="position:relative;left:110px;min-width:220px;float:right;">
            <h6>US and Canada</h6>
        <ul class="navbar-nav">
   <li style="color:#cccccc;"> Discover </li>
    </ul>
        </div>
</div>





<div style="width:528px;">
<div style="width:260px;margin:auto;">
    <br><br>
    <h6><b>Make Money with Us</b></h6>
    <ul class="navbar-nav">
   <li style="color:#cccccc;"> Sell products</li>
   <li style="color:#cccccc;">  Sell on Business</li>
   <li style="color:#cccccc;">  Advertise Your Products</li>
   <li style="color:#cccccc;">  Self-Publish with Us </li>
        </ul>
</div>
</div>

</footer>

<div style="min-width:1033px;height:80px;background-color:#232F3E;">
    <legend class="border-dark border-bottom mb-4"></legend>

        <div style="text-align:right;float:left;width:560px;color:#cccccc;">
                    © mrkaungminnkhant@gmail.com
            </div>

            <div style="width:790px;margin:auto;color:#cccccc;">
                <center>
                    <span class="border border-secondary col-md-4 p-2 rounded">
                        <label>English</label>
                    </span>
                    &nbsp;
                    <span class="border border-secondary col-md-4 p-2 rounded">
                    <label>$USD - U.S. Dollar</label>
                        </span> &nbsp;
                    <span class="border border-secondary col-md-4 p-2 rounded">
                   <label>United States</label>
                        </span>
                </center>
            </div>
</div>