{% extends "bootstrap.html" %}
{% block content %}
{% include "chain.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% include "header.html" %}

<body>
<br><br>
                    {% if user.is_authenticated %}

<div class="content" style="max-width: 1100px;">

    <legend class="border-bottom mb-4 text-dark">{{ user }}'s Products</legend>
    <br><br>
                        {% if not laptop %}
            <center>
                            <div class="card" style="width: 560px;background-color:#232F3E;">
                    <div class="card-body">
        <p class="card-text text-white">No products here</p>
            </div>
        </div>
        </center>
                        {% endif %}

                {% for mes in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ mes }}!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <br>
                {% endfor %}
    <div class="row" style="max-width: 1100px;">

{% for laptops in laptop %}

<!--<div class="col-md-3" >-->
    <div class="card" style="width: 14rem;font-size:0.9em;margin-top:50px;margin-right:40px;">
  <img src="{{ laptops.image.url }}" class="card-img-top" style="height: 200px;object-fit: cover;">
  <div class="card-body" style="height: 13.2rem;">
    <h5 class="card-title" style="font-size:1.3em;">{{ laptops.title }}</h5>
    <p class="card-text">{{ laptops.description|truncatechars:42 }}
        <a href="{% url 'view' laptops.id %}" style="text-decoration:none;" class="link-primary">read more</a></p>
        {% if laptops.discount %}
      <b class="card-text text-danger" style="font-size:1em;">${{ laptops.discount|floatformat:2 }} </b>&nbsp;
      <b class="card-text" style="text-decoration: line-through;font-size:1em;">${{ laptops.price|floatformat:2 }} </b>&nbsp;
      <b class="card-text" style="font-size:1em;">{{ laptops.discount_percent }}%</b>&nbsp;
            {% else %}
      <b class="card-text text-danger" style="font-size:1em;">${{ laptops.price|floatformat:2 }} </b>
            {% endif %}
      <p class="card-text"><small class="text-muted">{{ laptops.time }}</small></p>
  </div>
      <div class="card-footer bg-transparent">
          <center>
                <form action="{% url 'delete' laptops.id %}" method="POST">
                    {% csrf_token %}
                    <a href="{% url 'update' laptops.id %}" class="btn btn-success btn-sm">Update</a>&nbsp;
                    <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                </form>
          </center>
  </div>
</div><br>
        <!--column div xD-->
      <!--  </div>-->
{% endfor %}
    </div>
</div>
                                        {% else %}
                        <br>
                <div class="content" style="max-width: 1100px;">
                    <img class="no_user" src="static/images.jpg" alt="">
            <h5 class="text-dark" style="display:inline">Create Account?</h5>
            <a class="text-primary" href="registration" style="text-decoration:none;">Create an account</a>
            <p class="text-muted">Please sign in to sell and buy</p>

    <a class="btn btn-primary" href="login">Sign in to your account</a>&nbsp;
    <a class="btn btn-dark" href="registration">Sign up now</a>
                </div>
                                        {% endif %}

</body>
<div class="helper"></div>

{% include "footer.html" %}

{% endblock %}